[user]
	name = gomezselva2011@gmail.com
    email = gomezselva2011@gmail.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current